<div style="margin-left: auto; margin-right: auto">
  <p id="registerFeedback"></p>
</div>
<div>
  <h1>Register</h1>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Enter your name</mat-label>
        <input matInput type="text" [formControl]="name" required placeholder="Ex. Maria" />
        <mat-error *ngIf="name.hasError('maxlength')">
          Name can be max 25 characters long
        </mat-error>
        <mat-error *ngIf="name.hasError('minlength')">
          Name must be greater than 5 characters
        </mat-error>
        <mat-error *ngIf="name.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Enter your surname1</mat-label>
        <input matInput type="text" [formControl]="surname_1" required placeholder="Ex. Ruiz" />
        <mat-error *ngIf="surname_1.hasError('maxlength')">
          Surname1 can be max 25 characters long
        </mat-error>
        <mat-error *ngIf="surname_1.hasError('minlength')">
          Surname1 must be greater than 5 characters
        </mat-error>
        <mat-error *ngIf="surname_1.hasError('required')">
          Surname1 is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Enter your surname2</mat-label>
        <input matInput type="text" [formControl]="surname_2" required placeholder="Ex. Gomez" />
        <mat-error *ngIf="surname_2.hasError('maxlength')">
          Surname2 can be max 25 characters long
        </mat-error>
        <mat-error *ngIf="surname_2.hasError('minlength')">
          Surname2 must be greater than 5 characters
        </mat-error>
        <mat-error *ngIf="surname_2.hasError('required')">
          Surname2 is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Enter your alias</mat-label>
        <input matInput type="text" [formControl]="alias" required placeholder="Ex. marieta" />
        <mat-error *ngIf="alias.hasError('maxlength')">
          Alias can be max 25 characters long
        </mat-error>
        <mat-error *ngIf="alias.hasError('minlength')">
          Alias must be greater than 5 characters
        </mat-error>
        <mat-error *ngIf="alias.hasError('required')">
          Alias is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Enter your Birth date</mat-label>
        <input matInput type="date" [formControl]="birth_date" required />
        <mat-error *ngIf="birth_date.hasError('required')">
         Birth date is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput type="email" [formControl]="email" required placeholder="Ex. ignasi@uoc.edu" />
        <mat-error *ngIf="email.hasError('pattern') && !email.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput type="password" [formControl]="password" required />
        <mat-error *ngIf="password.hasError('minlength')">
          Password must be greater than 8 characters
        </mat-error>
        <mat-error *ngIf="password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </section>

    <section>
      <button mat-raised-button color="primary" type="submit">Register</button>
    </section>
  </form>
</div>
