<!-- <app-header></app-header> -->
<div style="height: 100vh;" *ngIf="showNoAuthSection"> 
    <mat-toolbar color="primary">
        <div fxShow="true" fxHide.gt-sm="true">
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div fxShow="true" fxHide.lt-md="true">
          <a mat-button><button (click)="home()">Home</button></a>
          <a mat-button><button (click)="login()">Login</button></a>
          <a mat-button><button (click)="register()">Register</button></a>
        </div>
      </mat-toolbar>
      <mat-sidenav-container fxFlexFill>
        <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
          <div fxLayout="column">
            <a mat-button><button (click)="home()">Home</button></a>
            <a mat-button><button (click)="login()">Login</button></a>
            <a mat-button><button (click)="register()">Register</button></a>
          </div>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
            <mat-progress-spinner [mode]="'indeterminate'"  *ngIf="loading$ | async"></mat-progress-spinner>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
</div>
<div style="height: 100vh;" *ngIf="showAuthSection"> 
    <mat-toolbar color="primary">
        <div fxShow="true" fxHide.gt-sm="true">
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div fxShow="true" fxHide.lt-md="true">
          <a mat-button><button (click)="home()">Home</button></a>
          <a mat-button><button (click)="adminPosts()">Admin posts</button></a>
          <a mat-button><button (click)="adminCategories()">Admin categories</button></a>
          <a mat-button><button (click)="profile()">Profile</button></a>
          <a mat-button><button (click)="logout()">Logout</button></a>
        </div>
      </mat-toolbar>
      <mat-sidenav-container fxFlexFill>
        <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
          <div fxLayout="column">
            <a mat-button><button (click)="home()">Home</button></a>
            <a mat-button><button (click)="adminPosts()">Admin posts</button></a>
            <a mat-button><button (click)="adminCategories()">Admin categories</button></a>
            <a mat-button><button (click)="profile()">Profile</button></a>
            <a mat-button><button (click)="logout()">Logout</button></a>
          </div>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
            <mat-progress-spinner [mode]="'indeterminate'"  *ngIf="loading$ | async"></mat-progress-spinner>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
  </div>
<app-footer></app-footer>
