<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile>
      <img src="https://www.uoc.edu/portal/system/modules/edu.uoc.presentations/resources/img/branding/logo-25-footer-es.png" alt="logo uoc">
    </mat-grid-tile>
    <mat-grid-tile>
        Guía de expertos
        <br> Dossier de prensa
        <br> Galería de fotos
        <br> Conoce la UOC
      </mat-grid-tile>
      <mat-grid-tile>
        Grados
        <br> Másteres universitarios
        <br> Másteres y posgrados
        <br> Doctorado
      </mat-grid-tile>
      <mat-grid-tile>
        Cursos de idiomas
        <br> Seminarios y cursos
        <br> Actualidad
        <br> Agenda UOC
      </mat-grid-tile>
  </mat-grid-list>