<h2>Post List</h2>
<div class="button-container">
  <button mat-raised-button (click)="createPost()">
    ADD
  </button>
</div>
<mat-table [dataSource]="posts" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <mat-header-cell mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.postId}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="title">
    <mat-header-cell mat-header-cell *matHeaderCellDef> TITLE </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell mat-header-cell *matHeaderCellDef> DESCRIPTION </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="numLikes">
    <mat-header-cell mat-header-cell *matHeaderCellDef> NUM LIKES </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.num_likes}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="numDislikes">
    <mat-header-cell mat-header-cell *matHeaderCellDef> NUM DISLIKES </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.num_dislikes}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell mat-header-cell *matHeaderCellDef> ACTIONS </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element">
       <button mat-icon-button (click)="updatePost(element.postId)"><mat-icon aria-label="Edit">edit</mat-icon></button>
        <button  mat-icon-button (click)="deletePost(element.postId)"><mat-icon aria-label="Delete">delete</mat-icon></button>
      </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row matRipple *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>